node_modules/
dist/
.DS_Store
*.log
.venv/
venv/
pycache/
.pyc
.env
.env.local
.env..local
.vscode/
.idea/
*.swp
*.swo
*~
.cache/
.parcel-cache/
.next/
out/
.nuxt/
dist/
.cache/
.vuepress/dist/
.serverless/
.fusebox/
.dynamodb/
.tern-port/
